
.sideBar-container {
    z-index: 2;
    background-color: black;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
}

.logoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 40px;

    margin-top: 25px;

    margin-left: 25px;

    cursor: pointer;
}

.logoIcon {
    height: 40px;
}

.logoName {
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;

}

.sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;

    color: #ffffff;
    margin-top: 50px;
}

.home-div{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.home-div li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}


.home-text {
    margin-left: 5px;
    margin-top: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.home-text:hover {
    color: white;
    cursor: pointer;
}